* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  height: 100vh;
}

button {
  background-color: blue;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: block;
  margin: 1rem auto 0;
  padding: .5rem;
  width: 10rem;
}

button:hover {
  opacity: 0.8;
}

.menu {
  background-color: rgba(0, 0, 244, 0.3);
  border-radius: 1rem;
  margin: 0 auto 2rem;
  padding: 2rem;
  max-width: 380px;
}

.input-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.input-container input {
  margin-left: .2rem;
}

.hide {
  display: none !important;
}

footer {
  padding: 1rem;
  text-align: center;
}