.normal {background-color: #a6a877;}
.grass {background-color: #77c850;}
.fire {background-color: #ee7f30;}
.water {background-color: #678fee;}
.electric {background-color: #f7cf2e;}
.ice {background-color: #98d5d7;}
.ground {background-color: #dfbf69;}
.flying {background-color: #a98ff0;}
.poison {background-color: #a040a0;}
.fighting {background-color: #bf3029;}
.psychic {background-color: #f65687;}
.dark {background-color: #725847;}
.rock {background-color: #b8a137;}
.bug {background-color: #a8b720;}
.ghost {background-color: #6e5896;}
.steel {background-color: #b9b7cf;}
.dragon {background-color: #6f38f6;}
.fairy {background-color: #f9aec7;}

.header__title {
  font-size: 2.5rem;
}

.pokedex {
  background-color: white;
  min-height: 85%;
  max-width: 992px;
  padding: 1rem 2rem;
}

.pokedex__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  list-style: none;
}

.pokemon {
  border-radius: 1rem;
  padding: 1rem;
}

.pokemon__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.name {
  font-weight: 500;
  text-transform: capitalize;
}

.number {
  font-size: .85rem;
  font-style: italic;
  font-weight: 200;
}

.pokemon__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.types {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  list-style: none;
}

.type {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  color: white;
  padding: .4rem;
  text-align: center;
}

.image {
  max-height: 95px;
  max-width: 80px;
}

@media screen and (min-width: 450px) {
  .pokedex__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .pokedex__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokedex {
    border-radius: 1rem;
    margin: 1.5rem auto;
    padding: 1rem;
  }

  .pokedex__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}